.jumbotron{
        #background-color: rgba(0,0,0,0);
}
.cus_title{
        margin-top: 10px;
        margin-bottom: 25px;
}
.custom-row{
	margin-top : 100px;
}
.image-settings{
	max-height: 100px;
	width: auto;

}